<div class="list-group">
  <a class="list-group-item list-group-item-action"
  [routerLink]="['./']" [routerLinkActive]="['active']"
  [routerLinkActiveOptions] = "{exact:true}">Personal Information</a>
  <a class="list-group-item list-group-item-action"
  [routerLink]="['./my-courses']" [routerLinkActive]="['active']">My courses</a>
  <a class="list-group-item list-group-item-action"
  [routerLink]="['./account']" [routerLinkActive]="['active']">Acount</a>
  <a class="list-group-item list-group-item-action"
  [routerLink]="['./photo']" [routerLinkActive]="['active']">Photo</a>
</div>
