<div class="container">
  <div class="list-group-item">
    <form (submit)="onRegisterSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control" maxlength="20">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="email" name="email" class="form-control" >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-main">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
