<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler"
          type="button" data-toggle="collapse" data-target="#InstructorNavBar"
          aria-controls="InstructorNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="InstructorNavBar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['./new']">Create New Course</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="nav-link" [routerLink]="['./biography']">Edit Biography</a>
      </li>
    </ul>
  </div>
</nav>
