<p>
  Hi! My name is Ossama Krawi and my mission is to help arab web developers and designers improve their skills worldwide!
  I started learning how to code in 2016, and I loved every moment of it. One Day, after I had spent over 28 continuous hours coding
  I knew that I found my passion. I have learned many technologies, languages and skills that are applicable in real world applications
  and I want to share it with YOU!

  So, what are you waiting for? Let's get started!
</p>

<div class="text-center">
  <a class="btn btn-outline-success btn-lg" [routerLink]="'../register'">Register</a>
  <a class="btn btn-outline-success btn-lg" [routerLink]="'../login'">Login</a>
</div>
