<div class="list-group">
  <a class="list-group-item list-group-item-action" [routerLink]="['./info']">Information</a>
  <a class="list-group-item list-group-item-action list-group-item-info" [routerLink]="['./overview']">OverView</a>
  <a class="list-group-item list-group-item-action list-group-item-info" [routerLink]="['./goals']">Goals</a>
  <a class="list-group-item list-group-item-action list-group-item-success" [routerLink]="['./media']">Media</a>
  <a class="list-group-item list-group-item-action list-group-item-success" [routerLink]="['./curriculum']">Curriculum</a>
  <a class="list-group-item list-group-item-action list-group-item-warning" [routerLink]="['./announcements']">Announcements</a>
  <a class="list-group-item list-group-item-action list-group-item-danger" [routerLink]="['./delete']">Delete Course</a>
</div>
