.question-options {
    color: #0275d8;
    font-size: 1.25em;
    cursor: pointer;
}

.question-options:hover {
    color: #025aa5;
}

.dropdown-toggle::after {
    display: none
}

.dropdown-item {
  cursor: pointer;
}

.useful-question{
  cursor: pointer;
  color: #328CC1;
}

.container {
  margin-top: 32px;
  word-wrap: break-word;
}

.add-response {
  padding-bottom: 60px;
  margin-top: 20px;
  margin-bottom: 32px;
}

.more-responses-button {
  margin-top: 20px;
}
